* text=auto !eol
JCalendar/.classpath -text
JCalendar/.project -text
JCalendar/.settings/org.eclipse.jdt.core.prefs -text
JCalendar/.settings/org.eclipse.jdt.ui.prefs -text
JCalendar/bin/runJCalendarDemo.bat -text
JCalendar/doc/demo.html -text
JCalendar/doc/images/3plusstars.gif -text
JCalendar/doc/images/JCalendar.gif -text
JCalendar/doc/images/JCalendarColor16.gif -text
JCalendar/doc/images/JCalendarColor32.gif -text
JCalendar/doc/images/JCalendarDialog.gif -text
JCalendar/doc/images/JCalendarIcon.gif -text
JCalendar/doc/images/JCalendarMono16.gif -text
JCalendar/doc/images/JCalendarMono32.gif -text
JCalendar/doc/images/JDateChooser.gif -text
JCalendar/doc/images/JDateChooserColor16.gif -text
JCalendar/doc/images/JDateChooserColor32.gif -text
JCalendar/doc/images/JDateChooserMono16.gif -text
JCalendar/doc/images/JDateChooserMono32.gif -text
JCalendar/doc/images/JDayChooser.gif -text
JCalendar/doc/images/JDayChooserColor16.gif -text
JCalendar/doc/images/JDayChooserColor32.gif -text
JCalendar/doc/images/JDayChooserMono16.gif -text
JCalendar/doc/images/JDayChooserMono32.gif -text
JCalendar/doc/images/JLocaleChooser.gif -text
JCalendar/doc/images/JLocaleChooserColor16.gif -text
JCalendar/doc/images/JLocaleChooserColor32.gif -text
JCalendar/doc/images/JLocaleChooserMono16.gif -text
JCalendar/doc/images/JLocaleChooserMono32.gif -text
JCalendar/doc/images/JMonthChooser.gif -text
JCalendar/doc/images/JMonthChooserColor16.gif -text
JCalendar/doc/images/JMonthChooserColor32.gif -text
JCalendar/doc/images/JMonthChooserMono16.gif -text
JCalendar/doc/images/JMonthChooserMono32.gif -text
JCalendar/doc/images/JSpinField1.gif -text
JCalendar/doc/images/JSpinField2.gif -text
JCalendar/doc/images/JSpinField3.gif -text
JCalendar/doc/images/JSpinFieldColor16.gif -text
JCalendar/doc/images/JSpinFieldColor32.gif -text
JCalendar/doc/images/JSpinFieldMono16.gif -text
JCalendar/doc/images/JSpinFieldMono32.gif -text
JCalendar/doc/images/JYearChooser.gif -text
JCalendar/doc/images/JYearChooserColor16.gif -text
JCalendar/doc/images/JYearChooserColor32.gif -text
JCalendar/doc/images/JYearChooserMono16.gif -text
JCalendar/doc/images/JYearChooserMono32.gif -text
JCalendar/doc/images/top25.gif -text
JCalendar/doc/index.html -text
JCalendar/doc/license.html -text
JCalendar/doc/style.css -text
JCalendar/jcalendar-license.txt -text
JCalendar/jgoodies-looks-license.txt -text
JCalendar/lib/looks-1.3.2.jar -text
JCalendar/license.txt -text
JCalendar/misc/JCalendarIcon.jpg -text
JCalendar/misc/JCalendarIcon.psp -text
JCalendar/misc/JCalendarIcon2.psp -text
JCalendar/readme.txt -text
JCalendar/src/build.xml -text
JCalendar/src/com/toedter/calendar/IDateEditor.java -text
JCalendar/src/com/toedter/calendar/JCalendar.java -text
JCalendar/src/com/toedter/calendar/JCalendarBeanInfo.java -text
JCalendar/src/com/toedter/calendar/JDateChooser.java -text
JCalendar/src/com/toedter/calendar/JDateChooserBeanInfo.java -text
JCalendar/src/com/toedter/calendar/JDateChooserCellEditor.java -text
JCalendar/src/com/toedter/calendar/JDayChooser.java -text
JCalendar/src/com/toedter/calendar/JDayChooserBeanInfo.java -text
JCalendar/src/com/toedter/calendar/JMonthChooser.java -text
JCalendar/src/com/toedter/calendar/JMonthChooserBeanInfo.java -text
JCalendar/src/com/toedter/calendar/JSpinnerDateEditor.java -text
JCalendar/src/com/toedter/calendar/JTextFieldDateEditor.java -text
JCalendar/src/com/toedter/calendar/JYearChooser.java -text
JCalendar/src/com/toedter/calendar/JYearChooserBeanInfo.java -text
JCalendar/src/com/toedter/calendar/demo/DateChooserPanel.java -text
JCalendar/src/com/toedter/calendar/demo/DemoTable.java -text
JCalendar/src/com/toedter/calendar/demo/JCalendarDemo.java -text
JCalendar/src/com/toedter/calendar/demo/images/DemoTableColor16.gif -text
JCalendar/src/com/toedter/calendar/demo/images/JDateChooserColor16.gif -text
JCalendar/src/com/toedter/calendar/images/JCalendarColor16.gif -text
JCalendar/src/com/toedter/calendar/images/JCalendarColor32.gif -text
JCalendar/src/com/toedter/calendar/images/JCalendarMono16.gif -text
JCalendar/src/com/toedter/calendar/images/JCalendarMono32.gif -text
JCalendar/src/com/toedter/calendar/images/JDateChooserColor16.gif -text
JCalendar/src/com/toedter/calendar/images/JDateChooserColor32.gif -text
JCalendar/src/com/toedter/calendar/images/JDateChooserIcon.gif -text
JCalendar/src/com/toedter/calendar/images/JDateChooserMono16.gif -text
JCalendar/src/com/toedter/calendar/images/JDateChooserMono32.gif -text
JCalendar/src/com/toedter/calendar/images/JDayChooserColor16.gif -text
JCalendar/src/com/toedter/calendar/images/JDayChooserColor32.gif -text
JCalendar/src/com/toedter/calendar/images/JDayChooserMono16.gif -text
JCalendar/src/com/toedter/calendar/images/JDayChooserMono32.gif -text
JCalendar/src/com/toedter/calendar/images/JMonthChooserColor16.gif -text
JCalendar/src/com/toedter/calendar/images/JMonthChooserColor32.gif -text
JCalendar/src/com/toedter/calendar/images/JMonthChooserMono16.gif -text
JCalendar/src/com/toedter/calendar/images/JMonthChooserMono32.gif -text
JCalendar/src/com/toedter/calendar/images/JYearChooserColor16.gif -text
JCalendar/src/com/toedter/calendar/images/JYearChooserColor32.gif -text
JCalendar/src/com/toedter/calendar/images/JYearChooserMono16.gif -text
JCalendar/src/com/toedter/calendar/images/JYearChooserMono32.gif -text
JCalendar/src/com/toedter/components/GenericBeanInfo.java -text
JCalendar/src/com/toedter/components/JLocaleChooser.java -text
JCalendar/src/com/toedter/components/JLocaleChooserBeanInfo.java -text
JCalendar/src/com/toedter/components/JSpinField.java -text
JCalendar/src/com/toedter/components/JSpinFieldBeanInfo.java -text
JCalendar/src/com/toedter/components/JTitlePanel.java -text
JCalendar/src/com/toedter/components/LocaleEditor.java -text
JCalendar/src/com/toedter/components/images/JLocaleChooserColor16.gif -text
JCalendar/src/com/toedter/components/images/JLocaleChooserColor32.gif -text
JCalendar/src/com/toedter/components/images/JLocaleChooserMono16.gif -text
JCalendar/src/com/toedter/components/images/JLocaleChooserMono32.gif -text
JCalendar/src/com/toedter/components/images/JSpinFieldColor16.gif -text
JCalendar/src/com/toedter/components/images/JSpinFieldColor32.gif -text
JCalendar/src/com/toedter/components/images/JSpinFieldMono16.gif -text
JCalendar/src/com/toedter/components/images/JSpinFieldMono32.gif -text
JCalendar/src/com/toedter/plaf/JCalendarTheme.java -text
JCalendar/src/jcalendar.manifest -text
